.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.root-container {
  width: 400px;
}

.root-container__value {
  margin-top: 20px;
}
